<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Copyright (c) 2010 Eric Bodden.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
  
  Contributors:
      Eric Bodden - initial API and implementation
-->
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Reflection"
            id="ReflectionView">
      </category>
      <view
            name="Reflection Log"
            icon="icons/run_poa.png"
            category="ReflectionView"
            class="de.bodden.tamiflex.views.ReflectionView"
            id="reflectionview.views.ReflectionView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="reflectionview.views.ReflectionView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            extensions="log"
            filenames="refl.log"
            icon="icons/run_poa.png"
            id="reflectionview.editors.TraceFileViewerEditor"
            launcher="de.bodden.tamiflex.editors.TraceFileViewerLauncher"
            name="Reflection Editor">
      </editor>
   </extension>
<!--
CURRENTLY NOT IMPLEMENTED

<extension point="org.eclipse.ui.popupMenus">
   <objectContribution
         adaptable="false"
         id="de.bodden.tamiflex.objectContributions.compare"
         nameFilter="*.log"
         objectClass="org.eclipse.core.resources.IFile">
      <action
            class="de.bodden.tamiflex.action.Compare"
            enablesFor="2"
            id="de.bodden.tamiflex.actions.compare"
            label="Compare Log files">
      </action>
   </objectContribution> 
</extension>
-->
<extension
      point="org.eclipse.debug.core.launchModes">
   <launchMode
         label="Play-out"
         launchAsLabel="Play-out"
         mode="playout">
   </launchMode>
   <launchMode
         label="Play-in"
         launchAsLabel="Play-in"
         mode="playin">
   </launchMode>
</extension>
<extension
      point="org.eclipse.debug.core.launchDelegates">
   <launchDelegate
         delegate="de.bodden.tamiflex.launching.playout.JavaPlayOutLaunchDelegate"
         id="de.bodden.tamiflex.launchDelegates.playout.java"
         modes="playout"
         name="Play-out Java"
         type="org.eclipse.jdt.launching.localJavaApplication">
   </launchDelegate>
   <launchDelegate
         delegate="de.bodden.tamiflex.launching.playout.JavaAppletPlayOutLaunchDelegate"
         id="de.bodden.tamiflex.launchDelegates.playout.javaapplet"
         modes="playout"
         name="Play-out Java Applet"
         type="org.eclipse.jdt.launching.javaApplet">
   </launchDelegate>
   <launchDelegate
         delegate="de.bodden.tamiflex.launching.playout.JUnitPlayOutLaunchDelegate"
         id="de.bodden.tamiflex.launchDelegates.playout.junit"
         modes="playout"
         name="Play-out JUnit"
         type="org.eclipse.jdt.junit.launchconfig">
   </launchDelegate>
   <launchDelegate
         delegate="de.bodden.tamiflex.launching.playin.JavaPlayInLaunchDelegate"
         id="de.bodden.tamiflex.launchDelegates.playin.java"
         modes="playin"
         name="Play-in Java Application"
         type="org.eclipse.jdt.launching.localJavaApplication">
   </launchDelegate>
   <launchDelegate
         delegate="de.bodden.tamiflex.launching.playin.JavaAppletPlayInLaunchDelegate"
         id="de.bodden.tamiflex.launchDelegates.playin.javaapplet"
         modes="playin"
         name="Play-in Java Applet"
         type="org.eclipse.jdt.launching.javaApplet">
   </launchDelegate>
   <launchDelegate
         delegate="de.bodden.tamiflex.launching.playin.JUnitPlayInLaunchDelegate"
         id="de.bodden.tamiflex.launchDelegates.playin.junit"
         modes="playin"
         name="Play-in JUnit"
         type="org.eclipse.jdt.junit.launchconfig">
   </launchDelegate>
</extension>
<extension
      point="org.eclipse.ui.actionSets">
   <actionSet
         id="de.bodden.tamiflex.actionSet"
         label="TamiFlex"
         visible="true">
      <action
            label="Play-Out History"
            style="pulldown"
            class="de.bodden.tamiflex.action.PlayOutHistoryMenuAction"
            menubarPath="org.eclipse.ui.run/runGroup"
            id="de.bodden.tamiflex.action.PlayoutHistoryMenuAction">
      </action>
      <action
            class="de.bodden.tamiflex.action.PlayOutAction"
            icon="icons/run_poa.png"
            id="de.bodden.tamiflex.actions.playout"
            label="Play-out Configurations..."
            menubarPath="org.eclipse.ui.run/runGroup"
            tooltip="Run playing out">
      </action>
      <action
            label="Play-In History"
            style="pulldown"
            class="de.bodden.tamiflex.action.PlayInHistoryMenuAction"
            menubarPath="org.eclipse.ui.run/runGroup"
            id="de.bodden.tamiflex.action.PlayinHistoryMenuAction">
      </action>
      <action
            class="de.bodden.tamiflex.action.PlayInAction"
            icon="icons/run_pia.png"
            id="de.bodden.tamiflex.actions.playin"
            label="Play-in Configurations..."
            menubarPath="org.eclipse.ui.run/runGroup"
            tooltip="Run playing in">
      </action>
         <action
               id="de.bodden.tamiflex.action.PlayoutHistoryDropDownAction"
               toolbarPath="debug.ext"
               hoverIcon="$nl$/icons/run_poa.png"
               class="de.bodden.tamiflex.action.PlayOutToolbarAction"
               disabledIcon="$nl$/icons/run_poa_disabled.png"
               icon="$nl$/icons/run_poa.png"
               label="Play-Out"
               style="pulldown">
         </action>
         <action
               id="de.bodden.tamiflex.action.PlayinHistoryDropDownAction"
               toolbarPath="debug.ext"
               hoverIcon="$nl$/icons/run_pia.png"
               class="de.bodden.tamiflex.action.PlayInToolbarAction"
               disabledIcon="$nl$/icons/run_pia_disabled.png"
               icon="$nl$/icons/run_pia.png"
               label="Play-In"
               style="pulldown">
         </action>
    </actionSet>
</extension>
<extension
      point="org.eclipse.debug.ui.launchGroups">
   <launchGroup
         bannerImage="$nl$/icons/run_wiz_poa.png"
         image="$nl$/icons/run_poa.png"
         id="de.bodden.tamiflex.launchGroups.playout"
         label="Play-Out"
         mode="playout"
         title="TITLE: Play-Out">
   </launchGroup>
   <launchGroup
         bannerImage="$nl$/icons/run_wiz_pia.png"
         image="$nl$/icons/run_pia.png"
         id="de.bodden.tamiflex.launchGroups.playin"
         label="Play-In"
         mode="playin"
         title="TITLE: Play-In">
   </launchGroup>
</extension>
<extension
      point="org.eclipse.debug.ui.launchConfigurationTabGroups">
   <launchConfigurationTabGroup
         class="org.eclipse.jdt.internal.debug.ui.launcher.LocalJavaApplicationTabGroup"
         id="de.bodden.tamiflex.launchConfigurationTabGroups.java"
         type="org.eclipse.jdt.launching.localJavaApplication">
      <launchMode
            mode="playout">
      </launchMode>
      <launchMode
            mode="playin">
      </launchMode>
   </launchConfigurationTabGroup>
   <launchConfigurationTabGroup
         class="org.eclipse.jdt.internal.debug.ui.launcher.JavaAppletTabGroup"
         id="de.bodden.tamiflex.launchConfigurationTabGroups.javaapplet"
         type="org.eclipse.jdt.launching.javaApplet">
      <launchMode
            mode="playout">
      </launchMode>
      <launchMode
            mode="playin">
      </launchMode>
   </launchConfigurationTabGroup>
   <launchConfigurationTabGroup
         class="org.eclipse.jdt.internal.junit.launcher.JUnitTabGroup"
         id="de.bodden.tamiflex.launchConfigurationTabGroups.junit"
         type="org.eclipse.jdt.junit.launchconfig">
      <launchMode
            mode="playout">
      </launchMode>
      <launchMode
            mode="playin">
      </launchMode>
   </launchConfigurationTabGroup>
</extension>
</plugin>
